<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.repository.RoleMapper">
    <select id="getRoleById" resultType="spring.model.RoleModel">
        select * from role_info ri
        <where>
            #{id} = ri.id
        </where>
    </select>
</mapper>